<div class="card__header">
    <h2 class="header-1 header-1--purple">Aplikacja</h2>
</div>
<div class="application__content">
    <div class="card__text card__text--grey">
        Lorem ipsum dolor sit amet enim. Etiam 
        ullamcorper. Suspendisse a pellentesque 
        dui, non felis.
    </div>
</div>
<div class="application__bg">
    <img src="../../assets/img/application-bg.svg" alt="application background image">
</div>
<div class="application__platforms">
    <a href="#" class="application__platforms-link">
        <img src="../../assets/img/android-icon.svg" alt="android icon">
    </a>
    <a href="#" class="application__platforms-link">
        <img src="../../assets/img/apple-icon.svg" alt="apple icon">
    </a>
    <a href="#" class="application__platforms-link">
        <img src="../../assets/img/windows-icon.svg" alt="windows icon">
    </a>
</div>