.card {
    padding: 25px 30px;
    max-width: 340px;
    width: 100%;
    position: relative;
    overflow: hidden;

    &--wide {
        max-width: 740px;
    }

    &--no-padding {
        padding: 0;
        max-width: 400px;
    }

    &__header {
        position: relative;
        z-index: 4;
        
        &--now-in-tv {
            background-color: $color-green;
            padding: 25px 30px 15px;
            display: flex;
            justify-content: space-between;

            .header-1 {
                line-height: 35px;
            }
        }
    }

    &__header-arrow-box {
        position: absolute;
        bottom: -10px;
        width: 100%;
        height: 10px;
        left: 0;
        display: flex;
        justify-content: center;
    }

    &__header-arrow-down {
        width: 0; 
        height: 0; 
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid $color-green;
    }

    &__text {
        font-size: 16px;
        color: #ffffff;

        &--grey {
            color:#5a5a5a;
        }
    }
}