.film-info {
    width: 100%;
    position: absolute;
    bottom: 48px;
    background-image: linear-gradient(to top, rgba(20, 20, 20, 0.8) 75%, rgba(20, 20, 20, 0));
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 25px 0;

    .header-2 {
        color: #ffffff;
    }

    &__channel {
        font-weight: bold;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        font-size: 14px;
    }
}