<footer>
    <div class="footer">
        <div class="wrapper">
            <div class="footer__left-col">
                <div class="footer__row">
                    <div>
                        <h4 class="footer__header subheader">
                            aplikacja vectra
                        </h4>
                        <div class="footer__download-app">
                            <img src="../../assets/img/app-icon.svg" alt="app icon" class="footer__app-icon">
                            <div class="footer__download-app-text">
                                <div class="purple">Pobierz</div>
                                <div class="purple bold">Aplikację</div>
                            </div>
                        </div>
                    </div>
                    <div class="footer__infoline">
                        <h4 class="footer__header subheader">
                            infolinia sprzedażowa
                        </h4>
                        <h4 class="subheader subheader--green">zadzwoń lub wyślij sms</h4>
                        <div class="footer__phone">
                            <img src="../../assets/img/phone-icon.svg" alt="phone icon" class="footer__phone-icon">
                            <img src="../../assets/img/mobile-phone-icon.svg" alt="phone icon" class="footer__mobile-phone-icon">
                            601 601 601
                        </div>
                        <div class="footer__additional-info">
                            (wg stawek operatorów)
                        </div>
                    </div>
                </div>
                <hr class="footer__wrapper-line">
                <div class="footer__row">
                    <ul class="footer__list">
                        <li class="footer__list-item"><a href="#" class="footer__link">O nas</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link">Kontakt</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link">Kariera</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link">Dla media</a></li>
                    </ul>
                    <div class="footer__social-links">
                       <a href="#" class="footer__icon-link"><img src="../../assets/img/facebook-icon.svg" alt="facebook"></a>
                        <a href="#" class="footer__icon-link"><img src="../../assets/img/twitter-icon.svg" alt="twitter"></a>
                        <a href="#" class="footer__icon-link"><img src="../../assets/img/youtube-icon.svg" alt="youtube"></a>
                    </div>
                </div>
            </div>
            <div class="footer__right-col">
                <h4 class="footer__header subheader">
                    centrum obsługi klienta
                </h4>
                <h4 class="subheader subheader--green footer__call-to-action-title">zadzwoń</h4>
                <div class="footer__phone">
                    <img src="../../assets/img/phone-icon.svg" alt="">
                    800 080 800
                </div>
                <div class="footer__small-subheader">
                    z telefonu komórkowego
                </div>
                <div class="footer__mobile-phone">
                    58 500 65 00
                </div>
                <div class="footer__additional-info">
                    (wg stawek operatorów)
                </div>
            </div>
        </div>
    </div>
</footer>