<div class="card__header card__header--now-in-tv">
    <div>
        <h2 class="header-1">Teraz <br> w TV online</h2>
    </div>
    <div class="film-info-viewers">
        <div class="film-info-viewers__label">teraz <br> ogląda</div>
        <div class="film-info-viewers__counter">258</div>
        <div class="film-info-viewers__icon"><img src="../../assets/img/viewers-icon.svg" alt=""></div>
    </div>
    <div class="card__header-arrow-box">
        <div class="card__header-arrow-down"></div>
    </div>
</div>
<ngx-siema [options]="filmSliderOptions" class="now-in-tv__film-slider">
    <ngx-siema-slide class="now-in-tv__slide">
        <div class="now-in-tv__film">
            <div class="now-in-tv__bg">
                <img src="../../assets/img/film-tumbnail.svg">
            </div>
            <div class="film-info">
                <div>
                    <h3 class="header-2">Anatomia magii</h3>
                    <div class="film-info__channel green">Discovery channel</div>
                </div>
            </div>
        </div>
    </ngx-siema-slide>
    <ngx-siema-slide class="now-in-tv__slide">
        <div class="now-in-tv__film">
            <div class="now-in-tv__bg">
                <img src="../../assets/img/film-thumbnail-2.jpg">
            </div>
            <div class="film-info">
                <div>
                    <h3 class="header-2">Anatomia rowerów</h3>
                    <div class="film-info__channel green">Cycling TV</div>
                </div>
            </div>
            </div>
    </ngx-siema-slide>
    <ngx-siema-slide class="now-in-tv__slide"> 
        <div class="now-in-tv__film">
            <div class="now-in-tv__bg">
                <img src="../../assets/img/film-tumbnail.svg">
            </div>
            <div class="film-info">
                <div>
                    <h3 class="header-2">Anatomia magii</h3>
                    <div class="film-info__channel green">Discovery channel</div>
                </div>
            </div>
        </div>
    </ngx-siema-slide>
</ngx-siema>
<div class="now-in-tv__slider-controllers-box">
    <div class="now-in-tv__slider-controllers">
        <button type="button" class="now-in-tv__slider-controller" (click)="prev2()"><img src="../../assets/img/arrow-left.svg" alt="arrow left"></button>
        <div class="now-in-tv__play-btn">
            <img src="../../../assets/img/play-icon.svg" alt="">
        </div>
        <button type="button" class="now-in-tv__slider-controller" (click)="next2()"><img src="../../assets/img/arrow-left.svg" alt="arrow right"></button>        
    </div>
</div>
    

