<div class="card__header card__header--now-in-tv">
    <div>
        <h2 class="header-1">Teraz <br> w TV online</h2>
    </div>
    <div class="film-info-viewers">
        <div class="film-info-viewers__label">teraz <br> ogląda</div>
        <div class="film-info-viewers__counter">258</div>
        <div class="film-info-viewers__icon"><img src="../../assets/img/viewers-icon.svg" alt=""></div>
    </div>
    <div class="card__header-arrow-box">
        <div class="card__header-arrow-down"></div>
    </div>
</div>
<div class="card__film">
    <!-- <ngx-siema [options]="options2" class="card__film-slider">
        <ngx-siema-slide>
            <img src="../../assets/img/film-tumbnail.svg" alt="">
        </ngx-siema-slide>
        <ngx-siema-slide>
          <img src="../../assets/img/film-thumbnail-2.jpg">
        </ngx-siema-slide>
        <ngx-siema-slide>
          <img src="../../assets/img/film-tumbnail.svg">
        </ngx-siema-slide>
    </ngx-siema>
    <div class="card__film-slider-controlers">
        <button type="button" (click)="prev2()"><img src="../../assets/img/arrow-left.svg" alt="arrow left"></button>
        
        <button type="button" (click)="next2()"><img src="../../assets/img/arrow-right.svg" alt="arrow right"></button>
    </div> -->
    <div class="film-info">
        <div>
            <h3 class="header-2">Anatomia magii</h3>
            <div class="film-info__channel green">Discovery channel</div>
        </div>
        <div class="film-info__border"></div>
    </div>
</div>