<div class="card__header">
    <h2 class="header-1 header-1--green">Pakiet 20 Gb LTE</h2>
    <h3 class="subheader subheader--purple bold">Promocja</h3>
</div>
<div class="package__content">
    <div class="card__text">
        Dla tych, którzy nie wyobrażają sobie życia bez Internetu:
    </div>
    <ul class="package__list">
        <li class="package__list-item">oglądaj filmy umieszczone w sieci</li>
        <li class="package__list-item">ściągaj duże pliki</li>
        <li class="package__list-item">korzystaj z poczty, komunikatora</li>
        <li class="package__list-item">sufruj swobodnie</li>
    </ul>
    <div class="package__promotion">
        <div class="package__promotion-text green">Swoboda <br> i mobilność za</div>
        <div class="package__promotion-price purple">
            50<span class="package__promotion-currency">zł</span>
        </div>
    </div>
</div>