<div class="card__header">
    <h2 class="header-1">Stwórz swój własny pakiet</h2>
    <h3 class="subheader subheader--white bold">Teliwizja - Internet - Telefon</h3>
</div>
<div class="choose-package">
    <div class="choose-package__package-item package-item">
        <div class="package-item__icon">
            <div class="package-item__icon-bg">
                <img src="../../assets/img/tv-icon.svg" alt="tv icon">
            </div>
        </div>
        <div class="package-item__text">
            <div>
                wybierz <span class="bold">ulubione kanały tv</span>
            </div>
        </div>
    </div>
    <div class="choose-package__plus"><img src="../../assets/img/plus-icon.svg" alt=""></div>
    <div class="choose-package__package-item package-item">
        <div class="package-item__icon">
            <div class="package-item__icon-bg">
                <img src="../../assets/img/mouse-icon.svg" alt="mouse icon">
            </div>
        </div>
        <div class="package-item__text">
            <div>
                wybierz <span class="bold">prędkość internetu</span>
            </div>
        </div>
    </div>
    <div class="choose-package__plus"><img src="../../assets/img/plus-icon.svg" alt=""></div>
    <div class="choose-package__package-item package-item">
        <div class="package-item__icon">
            <div class="package-item__icon-bg">
                <img src="../../assets/img/phone-icon-purple.svg" alt="phone icon">
            </div>
        </div>
        <div class="package-item__text">
            <div>
                wybierz <span class="bold">ilość minut na rozmowy</span>
            </div>
        </div>
    </div>
    <div class="choose-package__plus"><img src="../../assets/img/plus-icon.svg" alt=""></div>
    <div class="choose-package__package-item package-item">
        <div class="package-item__icon">
            <div class="package-item__icon-bg">
                <img src="../../assets/img/mobile-internet-icon.svg" alt="">
            </div>
        </div>
        <div class="package-item__text">
            <div>
                wybierz <span class="bold">internet mobilny</span>
            </div>
        </div>
    </div>
</div>
<div class="create-own-package__actions">
    <button class="create-own-package__btn">Stwórz pakiet</button>
    <div class="create-own-package__actions-text">lub wybierz pakiet, przygotowany przez nas</div>
</div>