<main>
    <div class="main">
        <div class="wrapper">
            <div class="main__row">
                <app-get-more class="card card--wide get-more"></app-get-more>
                <app-video-on-demand class="card video-on-demand"></app-video-on-demand>
            </div>
            <div class="main__row">
                <app-create-own-package class="card card--wide create-own-package"></app-create-own-package>
                <app-now-in-tv class="card card--no-padding now-in-tv"></app-now-in-tv>
            </div>
            <div class="main__row">
                <app-package class="card package"></app-package>
                <app-support class="card support"></app-support>
                <app-application class="card application"></app-application>
            </div>
        </div>
    </div>
</main>