<div class="card__header">
    <h2 class="header-1 header-1">Nasz support</h2>
    <h3 class="subheader subheader--green bold">Propozycja naszego TV-maniaka <br> na weekend</h3>
</div>
<div class="expert">
    <div class="expert__avatar">
        <div class="expert__avatar-holder">
            <img src="../../assets/img/expert-avatar.svg" alt="">
        </div>
    </div>
    <div class="expert__advertisment">
        <a href="#" class="expert__link">
            <div class="expert__advertisement-post">
                <div>zobacz co kuba  znalazł ciekawego w tv na weekend</div> 
                <div class="expert__advertisement-post-icon">
                    <img src="../../assets/img/arrow-right.svg" alt="">
                </div>
            </div>
        </a>
        <hr class="expert__wrapper">
        <a href="#" class="expert__link">
            <div class="expert__advertisement-post">
                <div>podyskutuj z nim o filmach już w piątek 15.09.2014</div>
                <div class="expert__advertisement-post-icon">
                    <img src="../../assets/img/dialog-icon.svg" alt="">
                </div>
            </div>
        </a>
    </div>
</div>
<div class="support__promo-text green">
    <div>
        Zostań naszym ekspertem i poprowadź przedweekendowy chat z użytkownikami
    </div>
</div>