.create-own-package {
    background-color: $color-purple;

    &__actions {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__btn {
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-size: 20px;
        width: 100%;
        max-width: 460px;
        height: 46px;
        margin-bottom: 5px;
        transition: .2s;

        &:hover {
            cursor: pointer;
            background-color: #4d3c6b;
        }
    }

    &__actions-text {
        font-size: 20px;
        color: #ffffff;
    }
}