.video-on-demand {
    height: 435px;
    max-height: 485px;

    &__film-box {
        position: absolute;
        left: 0;
        top: 0;
    }

    &__slider {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    &__slide {
        width: 100%;
        position: relative;
    }

    &__slider-controllers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    &__slider-controllers-box {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.15);

        &:hover {
            .video-on-demand__buy-btn {
                display: block;
            }
        }
    }

    &__slider-controller {
        background-color: transparent;
        position: relative;
        border: none;
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
        
        &:focus {
            outline: none;
        }

        &:last-of-type {
            transform: rotate(180deg);
        }
    }

    &__buy-btn {
        border: 1px solid #ffffff;
        background-color: rgba(0,0,0,0.3);
        text-transform: uppercase;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        width: 180px;
        height: 45px;
        transition: .2s;
        display: none;

        &:hover {
            cursor: pointer;
            background-color: rgba(0,0,0,0.7);
        }
    }
}