<div class="card__header">
    <h2 class="header-1">Zyskaj więcej</h2>
</div>
<div class="get-more__bg">
    <img src="../../assets/img/get-more-bg-clip.svg" class="get-more__bg-clip" alt="">
    <img src="../../assets/img/get-more-bg.svg" alt="" class="get-more__bg-img">
</div>
<div class="get-more__promotion">
    <div class="get-more__promotion-icons">
        <div class="get-more__promotion-icon">
            <img src="../../assets/img/mouse-icon-white.svg" alt="mouse icon">
        </div>
        +
        <div class="get-more__promotion-icon">
            <img src="../../assets/img/present-icon.svg" alt="present icon">
        </div>
    </div>
    <div class="get-more__promotion-line">
        <span class="bold">kup internet,</span><br>
        <div class="get-more__promotion-line-flex">
            <div>
                <span> a <span class="purple"><span class="bold">HBO</span>GO</span></span><br>
                <span class="get-more__promotion-line-small-text">  dostaniesz za </span>
            </div>
            <div>
                <span class="get-more__promotion-line-price">1 
                <span class="get-more__promotion-line-currency">zł</span></span>
            </div>
        </div>  
    </div>
</div>
