<div class="card__header">
    <h2 class="header-1">VOD</h2>
    <h3 class="subheader subheader--white bold">Video na żądanie</h3>
</div>
<!-- <ngx-siema [options]="options" class="card__video-on-demand-slider">
    <ngx-siema-slide>
      <img src="../../assets/img/captain-america.svg">
    </ngx-siema-slide>
    <ngx-siema-slide>
      <img src="../../assets/img/captain-america-2.jpg">
    </ngx-siema-slide>
    <ngx-siema-slide>
      <img src="../../assets/img/captain-america-3.jpg">
    </ngx-siema-slide>
</ngx-siema>
<div class="card__video-on-demand-slider-controlers">
    <button type="button" (click)="prev()"><img src="../../assets/img/arrow-left.svg" alt="arrow left"></button>
    <button type="button" (click)="next()"><img src="../../assets/img/arrow-right.svg" alt="arrow right"></button>
</div> -->

<ngx-siema [options]="options" class="video-on-demand__slider">
    <ngx-siema-slide class="video-on-demand__slide">
        <div class="">
            <div class="video-on-demand__bg-img">
                <img src="../../assets/img/captain-america.svg">
            </div>
            <div class="video-info">
                <div class="">
                    <h4 class="header-2">Kapitan Ameryka: Zimowy żołnierz</h4>
                    <div class="video-info__additional-info">
                        <div class="video-info__new-label green">Nowości - akcja</div>
                        <div class="video-info__price blue">14,00 zł</div>
                    </div>
                </div>
                <div class="video-info__viewers">
                    <div class="video-info__viewers-label">film <br> obejrzy</div>
                    <div class="video-info__viewers-counter">125</div>
                    <div class="video-info__viewers-icon"><img src="../../assets/img/viewers-icon.svg" alt=""></div>
                </div>
            </div>
        </div>
    </ngx-siema-slide>
    <ngx-siema-slide class="video-on-demand__slide">
        <div class="">
            <div class="video-on-demand__bg-img">
                <img src="../../assets/img/captain-america.svg">
            </div>
            <div class="video-info">
                <div class="">
                    <h4 class="header-2">Kapitan Ameryka: Zimowy żołnierz</h4>
                    <div class="video-info__additional-info">
                        <div class="video-info__new-label green">Nowości - akcja</div>
                        <div class="video-info__price blue">14,00 zł</div>
                    </div>
                </div>
                <div class="video-info__viewers">
                    <div class="video-info__viewers-label">film <br> obejrzy</div>
                    <div class="video-info__viewers-counter">125</div>
                    <div class="video-info__viewers-icon"><img src="../../assets/img/viewers-icon.svg" alt=""></div>
                </div>
            </div>
        </div>
    </ngx-siema-slide>
    <ngx-siema-slide class="video-on-demand__slide">
        <div class="">
            <div class="video-on-demand__bg-img">
                <img src="../../assets/img/captain-america.svg">
            </div>
            <div class="video-info">
                <div class="">
                    <h4 class="header-2">Kapitan Ameryka: Zimowy żołnierz</h4>
                    <div class="video-info__additional-info">
                        <div class="video-info__new-label green">Nowości - akcja</div>
                        <div class="video-info__price blue">14,00 zł</div>
                    </div>
                </div>
                <div class="video-info__viewers">
                    <div class="video-info__viewers-label">film <br> obejrzy</div>
                    <div class="video-info__viewers-counter">125</div>
                    <div class="video-info__viewers-icon"><img src="../../assets/img/viewers-icon.svg" alt=""></div>
                </div>
            </div>
        </div>
    </ngx-siema-slide>
</ngx-siema>
<div class="video-on-demand__slider-controllers-box">
    <div class="video-on-demand__slider-controllers">
        <button type="button" class="video-on-demand__slider-controller" (click)="prev()">
            <img src="../../assets/img/arrow-left.svg" alt="arrow left">
        </button>
        <button class="video-on-demand__buy-btn">Kup film</button>
        <button type="button" class="video-on-demand__slider-controller" (click)="next()">
            <img src="../../assets/img/arrow-left.svg" alt="arrow right">
        </button>
    </div>    
</div>


